<template>
  <v-app>
    <v-container>
      <navbar/>
      <v-main>
        <v-row class="flex-nowrap">
          <draggable
              :options="{disabled: offDraggable}"
              :value="sortedColumns"
              class="d-flex align-baseline"
              group="columns"
              @end="endDrag($event)"
          >
            <Column
                v-for="column in sortedColumns"
                :key="column.id"
                @remove="removeColumn(column.id)"
                @addNewTask="addNewTask"
                @removeTask="removeTask"
                @editTask="editTask"
                @editColumnTitle="editColumnTitle"
                @taskDetails="draggableDisable"
                :column="column"
                :tasks="tasks.filter((task) => task.column === column.id)"
            />
          </draggable>

          <div class="btn-add-column">
            <v-btn outlined color="indigo" @click="newColumn()">
              + Add new column
            </v-btn>
          </div>
        </v-row>
        <AboutDialog v-if="emptyColumns"/>
      </v-main>
    </v-container>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar.vue";
import AboutDialog from "@/components/AboutDialog.vue";
import Column from "@/components/Column.vue";
import draggable from "vuedraggable";

export default {
  name: "board",

  data: () => ({
    emptyColumns: false,
    showTaskInfo: false,
    columns: [],
    tasks: [],
    columnsMaxId: 0,
    offDraggable: false,
  }),

  components: {
    Navbar,
    AboutDialog,
    Column,
    draggable,
  },

  computed: {
    sortedColumns() {
      const arr = [...this.columns];
      return arr.sort((a, b) => {
        if (a.columnPosition > b.columnPosition) return 1;
        if (a.columnPosition < b.columnPosition) return -1;
        return 0;
      });
    },

  },

  mounted() {
    axios
        .get("http://localhost:3005/column")
        .then((response) => (this.columns = response.data))
        .catch((error) => {
          console.log(error);
        });

    axios
        .get("http://localhost:3005/tasks")
        .then((response) => (this.tasks = response.data))
        .catch((error) => {
          console.log(error);
        });

  },

  methods: {
    newColumn() {
      this.searchColumnsMaxId();
      let maxColumnPosition = 0;
      for (let i = 0; i < this.columns.length; i++) {
        if (this.columns[i].columnPosition > maxColumnPosition) {
          maxColumnPosition = this.columns[i].columnPosition;
        }
      }

      let column = {
        id: this.columnsMaxId + 1,
        title: "New Column",
        columnPosition: maxColumnPosition + 1,
      };
      this.columns.push(column);
      this.emptyColumns = false;

      axios
          .post("http://localhost:3005/column", {
            id: this.columnsMaxId + 1,
            title: "New Column",
            columnPosition: maxColumnPosition + 1,
          })
          // .then((resp) => {
          //   console.log(resp.data);
          // })
          .catch((error) => {
            console.log(error);
          });
    },

    draggableDisable(value) {
      this.offDraggable = value;
    },

    searchColumnsMaxId() {
      for (let i = 0; i < this.columns.length; i++) {
        if (this.columns[i].id > this.columnsMaxId)
          this.columnsMaxId = this.columns[i].id;
      }
    },

    searchTasksMaxId() {
      for (let i = 0; i < this.tasks.length; i++) {
        if (this.tasks[i].id > this.tasksMaxId)
          this.tasksMaxId = this.tasks[i].id;
      }
    },

    addNewTask(column, title) {
      this.searchTasksMaxId();
      let maxTaskPosition = 0;
      for (let i = 0; i < this.tasks.length; i++) {
        if (this.tasks[i].column === column) {
          if (this.tasks[i].taskPosition > maxTaskPosition)
            maxTaskPosition = this.tasks[i].taskPosition;
        }
      }

      let newTask = {
        id: this.tasksMaxId + 1,
        title: title,
        column: column,
        taskPosition: maxTaskPosition + 1,
      };
      this.tasks.push(newTask);

      axios
          .post("http://localhost:3005/tasks", {
            id: this.tasksMaxId + 1,
            title: title,
            column: column,
            taskPosition: maxTaskPosition + 1,
          })
          // .then((resp) => {
          //   console.log(resp.data);
          // })
          .catch((error) => {
            console.log(error);
          });
    },

    removeColumn(id) {
      this.columns = this.columns.filter((el) => el.id !== id);
      if (this.columns.length === 0) {
        this.emptyColumns = true;
      }

      console.log("REMOVE ColumnID: ", id);
      axios.delete("http://localhost:3005/column/" + id).catch((error) => {
        console.log(error);
      });

      for (let i = 0; i < this.tasks.length; i++) {
        if (this.tasks[i].column === id) {

          axios.delete("http://localhost:3005/tasks/" + this.tasks[i].id)
              .catch((error) => {
                console.log(error);
              });
        }
      }
    },

    removeTask(taskId) {
      for (let i = 0; i < this.tasks.length; i++) {
        if (this.tasks[i].id === taskId) this.tasks.splice(i, 1);
      }

      axios.delete("http://localhost:3005/tasks/" + taskId).catch((error) => {
        console.log(error);
      });
    },

    editTask(taskId, title, column, taskPosition) {
      axios
          .put("http://localhost:3005/tasks/" + taskId, {
            id: taskId,
            title: title,
            column: column,
            taskPosition: taskPosition,
          })
          // .then((resp) => {
          //   console.log(resp.data);
          // })
          .catch((error) => {
            console.log(error);
          });
    },

    editColumnTitle(id, title, columnPosition) {
      axios
          .put("http://localhost:3005/column/" + id, {
            id: id,
            title: title,
            columnPosition: columnPosition,
          })
          // .then((resp) => {
          //   console.log(resp.data);
          // })
          .catch((error) => {
            console.log(error);
          });
    },

    endDrag(event) {
      let oldColumn = this.sortedColumns[event.oldIndex];

      for (let i = 0; i < this.columns.length; i++) {
        if (event.oldIndex > event.newIndex) {
          if (
              this.columns[i].columnPosition >= event.newIndex &&
              this.columns[i].columnPosition < event.oldIndex
          ) {
            axios
                .put("http://localhost:3005/column/" + this.columns[i].id, {
                  id: this.columns[i].id,
                  title: this.columns[i].title,
                  columnPosition: this.columns[i].columnPosition + 1,
                })
                // .then((resp) => {
                //   console.log(resp.data);
                // })
                .catch((error) => {
                  console.log(error);
                });

            //console.log("COLUMN: " + this.columns[i].title + "  | NEW POSITION: " + (this.columns[i].columnPosition+1) + " (++)")
            this.columns[i].columnPosition++;
          }
        } else if (event.oldIndex < event.newIndex) {
          if (
              this.columns[i].columnPosition <= event.newIndex &&
              this.columns[i].columnPosition > event.oldIndex
          ) {
            axios
                .put("http://localhost:3005/column/" + this.columns[i].id, {
                  id: this.columns[i].id,
                  title: this.columns[i].title,
                  columnPosition: this.columns[i].columnPosition - 1,
                })
                // .then((resp) => {
                //   console.log(resp.data);
                // })
                .catch((error) => {
                  console.log(error);
                });

            //console.log("COLUMN: " + this.columns[i].title + "  | NEW POSITION: " + (this.columns[i].columnPosition-1) + " (--)")
            this.columns[i].columnPosition--;
          }
        }
      }

      axios
          .put("http://localhost:3005/column/" + oldColumn.id, {
            id: oldColumn.id,
            title: oldColumn.title,
            columnPosition: event.newIndex,
          })
          // .then((resp) => {
          //   console.log(resp.data);
          // })
          .catch((error) => {
            console.log(error);
          });

      oldColumn.columnPosition = event.newIndex;
    },
  },
};
</script>


<style scoped lang="scss">
.container {
  margin-left: 30px;
  margin-right: 30px;
  overflow-x: auto;
  height: 100%;


  .btn-add-column {
    margin-top: 20px;
  }


}

</style>
