<template>
  <v-app>
    <Navbar />
    <v-main class="grey lighten-3">
      <v-container>
        <v-row>
          <v-col cols="12" sm="2">
            <v-sheet rounded="lg" min-height="268">
              <div class="title"><h2>News</h2></div>
            </v-sheet>
          </v-col>

          <v-col cols="12" sm="8">
            <v-sheet min-height="70vh" rounded="lg">
              <div class="title"><h1>Welcome!</h1></div>
            </v-sheet>
          </v-col>

          <v-col cols="12" sm="2">
            <v-sheet rounded="lg" min-height="268">
              <div class="title"><h2>Ads</h2></div>
            </v-sheet>
          </v-col>
        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Navbar from "@/components/Navbar.vue";

export default {
  name: "home",

  components: {
    Navbar,
  },
};
</script>

<style scoped lang="scss">
.title {
  display: flex;
  justify-content: center;
}
</style>