<template>
  <v-card class="column">
    <v-card-title class="column__title">
      <input
          class="column__title__input"
          type="text"
          v-model="column.title"
          placeholder="Title"
          @keyup.enter="
          editColumnTitle(column.id, column.title, column.columnPosition)
        "
      />
    </v-card-title>

    <v-card-text class="tasks">
      <draggable :value="sortedTasks" group="tasks" @end="endDrag($event)">
        <div v-for="task in sortedTasks" :key="task.id" class="task">
          <v-textarea
              v-model="task.title"
              type="text"
              no-resize
              auto-grow
              solo
              flat
              rows="1"
              background-color="#fff"
              hide-details
              class="task__text"
              placeholder="Please write the text here"
              @keydown.enter.prevent="
              editTask(task.id, task.title.trim(), task.column, task.taskPosition)
            "
          />

          <v-img
              src="@/assets/comments.svg"
              alt="del"
              width="10px"
              height="20px"
              @click="openDetails(task)"
              class="task__cursor ml-2 mb-3"
          />

          <v-img
              src="@/assets/button_remove.png"
              alt="del"
              width="8px"
              height="20px"
              @click="removeTask(task.id)"
              class="task__cursor ml-2 mb-3"
          />
        </div>
      </draggable>

      <input
          class="task__add"
          name="addNewTaskInput"
          placeholder="+ Add task"
          v-model="newTask"
          @keyup.enter="addNewTask(column.id)"
      />
      <!-- @keyup.enter="(event) => addNewTask(event, column.id)"   - замінено через v-model  -->

      <div class="column__delete">
        <v-btn color="gray" @click="$emit('remove')">
          Remove column
        </v-btn>
      </div>

    </v-card-text>
    <TaskDetails
        class="task__details"
        v-if="showTaskInfo"
        @closeTask="showTaskInfo = false"
        :taskInfo="taskInfo"
    />
  </v-card>
</template>

<script>
import draggable from "vuedraggable";
import TaskDetails from "@/components/TaskDetails";

export default {
  name: "Column",
  components: {draggable, TaskDetails},
  props: {
    column: {
      type: Object,
      required: true,
    },
    tasks: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    newTask: "",
    showTaskInfo: false,
    taskInfo: [],
  }),

  computed: {
    sortedTasks() {
      const arr = [...this.tasks];
      return arr.sort((a, b) => {
        if (a.taskPosition > b.taskPosition) return 1;
        if (a.taskPosition < b.taskPosition) return -1;
        return 0;
      });
    },
  },

  methods: {
    addNewTask(column) {
      this.$emit("addNewTask", column, this.newTask);
      this.newTask = "";
    },

    removeTask(taskId) {
      this.$emit("removeTask", taskId);
    },

    editTask(taskId, title, column, taskPosition) {
      this.$emit("editTask", taskId, title, column, taskPosition);
    },

    editColumnTitle(id, title, columnPosition) {
      this.$emit("editColumnTitle", id, title, columnPosition);
    },

    openDetails(task) {

      this.showTaskInfo = !this.showTaskInfo;
      this.taskInfo = task;
      this.$emit("taskDetails", this.showTaskInfo)

    },


    endDrag(event) {
      let oldTask = this.sortedTasks[event.oldIndex];

      for (let i = 0; i < this.tasks.length; i++) {
        if (event.oldIndex > event.newIndex) {
          if (
              this.tasks[i].taskPosition >= event.newIndex &&
              this.tasks[i].taskPosition < event.oldIndex
          ) {
            axios
                .put("http://localhost:3005/tasks/" + this.tasks[i].id, {
                  id: this.tasks[i].id,
                  title: this.tasks[i].title,
                  column: this.tasks[i].column,
                  taskPosition: this.tasks[i].taskPosition + 1,
                })
                // .then((resp) => {
                //   console.log(event);
                // })
                .catch((error) => {
                  console.log(error);
                });

            // console.log("TASK: " + this.tasks[i].title + "  | NEW POSITION: " + (this.tasks[i].taskPosition+1) + " (++)")
            this.tasks[i].taskPosition++;
          }
        } else if (event.oldIndex < event.newIndex) {
          if (
              this.tasks[i].taskPosition <= event.newIndex &&
              this.tasks[i].taskPosition > event.oldIndex
          ) {
            axios
                .put("http://localhost:3005/tasks/" + this.tasks[i].id, {
                  id: this.tasks[i].id,
                  title: this.tasks[i].title,
                  column: this.tasks[i].column,
                  taskPosition: this.tasks[i].taskPosition - 1,
                })
                .then((resp) => {
                  console.log(resp.data);
                })
                .catch((error) => {
                  console.log(error);
                });

            // console.log("TASK: " + this.tasks[i].title + "  | NEW POSITION: " + (this.tasks[i].taskPosition-1) + " (--)")
            this.tasks[i].taskPosition--;
          }
        }
      }

      axios
          .put("http://localhost:3005/tasks/" + oldTask.id, {
            id: oldTask.id,
            title: oldTask.title,
            column: oldTask.column,
            taskPosition: (oldTask.taskPosition = event.newIndex),
          })
          .then((resp) => {
            console.log(resp.data);
          })
          .catch((error) => {
            console.log(error);
          });

      // console.log("TASK: " + oldTask.title + "  | NEW POSITION: " + event.newIndex + " (RESULT)")
      oldTask.taskPosition = event.newIndex;
    },
  },
};
</script>


<style scoped lang="scss">
$card-color: #ebecf0;

.column {
  margin-top: 15px;
  margin-right: 20px;
  width: 350px; //270

  &__delete {
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }

  &__title {
    background-color: $card-color;

    &__input {
      width: 275px;
    }
  }

  .tasks {
    background-color: $card-color;
  }

  .task {
    display: flex;
    align-items: center;

    &__details {
      position: absolute;
      z-index: 1;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      text-align: center;
      width: 200%;
    }

    &__cursor {
      cursor: pointer;
    }

    &__add {
      padding-left: 10px;
      border-radius: 1px;
      background-color: $card-color;
      width: 240px;
      height: 50px;
    }


    &__text {

      border-radius: 8px;
      box-shadow: 0 1px 0 #091e4240;
      margin-bottom: 10px;

      ::v-deep {
        textarea {
          padding: 0 15px !important;
        }
      }
    }
  }
}

</style>
