<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Авторизація</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <form @submit.prevent="auth(login.trim(), password.trim())">
            <v-text-field
                v-model="login"
                class="login"
                name="login"
                label="Login"
                type="text"
            ></v-text-field>
            <v-text-field
                v-model="password"
                name="password"
                class="password"
                label="Password"
                type="password"
            ></v-text-field>

            <div class="navbar" >
              <div class="navbar__btn">
              <v-btn
                  type="submit"
                  color="primary"
              >
                Login
              </v-btn>
              </div>

              <div class="navbar__error" v-if="error">
                Не правильний логін або пароль!
              </div>
            </div>
          </form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "Login",
  data: () => ({
    user: [],
    login: "",
    password: "",
    error: false,
  }),

  methods: {

    auth(login, password) {
      axios
          .get("http://localhost:3005/users?login=" + login + "&password=" + password)
          .then((response) => (this.user = response.data))
          .catch((error) => {
            console.log(error + " ERR");
          });

      //console.log(this.user[0].login)
      if (this.user.length !== 0) {
        this.$emit("hide", false, false, this.user[0].login);
      }
      else {
        this.error = true;
        console.log("Не правильний логін або пароль")
      }
    },
  },



}
</script>

<style scoped lang="scss">
.navbar {
  display: flex;

  &__error {
    margin-left: 10px;
    color: red;
  }
}
</style>