<template>
  <v-app-bar app dark>
    <v-col class="navbar">
      <img alt="logo" style="max-width: 50px" src="../assets/navbar-icon.png"/>
      <router-link class="navbar__link" to="/">Home</router-link>
      <router-link class="navbar__link" to="/board">Notes</router-link>
      <router-link class="navbar__link" to="/about">About</router-link>
      <v-btn
          class="navbar__link navbar__link__auth"
          @click="authWindow = !authWindow"
          v-if="showBtnLogin"
      >Login
      </v-btn>
      <Login
          class="navbar__login"
          v-if="authWindow"
          @hide="auth"
      />
      <div
          class="navbar__user"
          v-if="!showBtnLogin"
          @click="logout"
      >

        <div class="navbar__user__icon" >
          <v-img alt="logo" src="../assets/profileIcon.svg"/>
        </div>


        <div class="navbar__user__username">
          {{ username }}
        </div>

      </div>
    </v-col>
  </v-app-bar>
</template>

<script>
import Login from "@/components/Login.vue";

export default {
  name: "Navbar",
  props: {},
  components: {
    Login,
  },

  data: () => ({
    authWindow: false,
    showBtnLogin: true,
    username: "test",
  }),

  methods: {
    auth(authWindow, showBtnLogin, login) {
      console.log(login);
      this.authWindow = authWindow;
      this.showBtnLogin = showBtnLogin;
      this.username = login;
    },

    logout() {
      this.showBtnLogin = true;
    },
  }

};
</script>

<style scoped lang="scss">
.navbar {
  display: flex;
  align-items: center;
  color: black;

  &__link {
    margin-left: 50px;
    text-decoration: none;
    color: #ebecf0;

    &:hover {
      color: gray;
    }

    &__auth {
      justify-content: flex-start;
      margin-left: auto;
    }
  }

  &__login {
    position: absolute;
    width: 50%;
    left: 0;
    right: 0;
    //top: 50;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
  }


  &__user {
    position: absolute;
    right: 35px;
    color: #ebecf0;
    display: flex;
    cursor: pointer;

    &__icon {

    }

    &__username {
      margin-top: 3px;
      margin-left: 5px;
    }
  }
}
</style>