<template>
  <div id="app">
    <v-card>
      <v-toolbar
          color="primary"
          dark
      >Task Details
      </v-toolbar>
      <v-card-text>
        <div class="details">

          <div class="details__task">
            <div class="details__task__title">Task</div>
            <div class="details__task__value">{{ taskInfo.title }}</div>
          </div>

          <div class="details__comments">
            <div class="details__comments__title">Comments</div>
            <div v-for="el in taskComments" class="details__comments__value">

              <img
                  src="@/assets/button_remove.png"
                  alt="del"
                  width="18px"
                  height="18px"
                  @click="deleteComment(el.id)"
                  class="details__comments__value__delete ml-2 mb-3"
              />

              <div class="details__comments__value__data">
                [{{ parseCreatedAt(el.createdAt) + "]&nbsp" }}
              </div>

              <div class="details__comments__value__user">
                {{ el.user + ":&nbsp" }}
              </div>

              <div class="details__comments__value__text">
                {{ el.comment }}
              </div>

            </div>
            <div v-if="taskComments.length === 0">
              Коментарі відсутні
            </div>
            <div class="details_add">
              <div class="details__add__input">
                <v-textarea
                    v-model="value"
                    no-resize
                    auto-grow
                    rows="1"
                    @keyup.enter="addComment(value.trim())"
                />
              </div>
            </div>
          </div>
        </div>
      </v-card-text>
      <v-card-actions class="justify-end">
        <v-btn
            text
            @click="$emit('closeTask', false)"
            pointer
        >
          Close
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
export default {
  name: "TaskDetails",
  data: () => ({
    value: "",
    commentNewId: 0,
    taskComments: [],
  }),
  props: {

    taskInfo: {
      type: Object,
      required: true,
    },
  },

  methods: {
    parseCreatedAt(dateStr) {
      return (new Date(dateStr)).toLocaleString()
    },

    addComment(value) {
      console.log(value);

      const date = new Date;

      try {
        axios
            .post("http://localhost:3005/comments", {
              id: Date.now(),
              taskId: this.taskInfo.id,
              user: "Vasya",
              comment: value,
              createdAt: date.toJSON()
            })
            .catch((error) => {
              console.log(error);
            });

        this.taskComments.push({
          id: Date.now(),
          taskId: this.taskInfo.id,
          user: "Vasya",
          comment: value,
          createdAt: date.toJSON()
        })
      } catch (err) {
        console.log(err);
      }


      this.value = "";
    },

    deleteComment(commentId) {
      axios.delete("http://localhost:3005/comments/" + commentId).catch((error) => {
        console.log(error);
      });

      this.taskComments = this.taskComments.filter(comment => comment.id !== commentId)

    },
  },

  mounted() {

    axios
        .get("http://localhost:3005/comments?taskId=" + this.taskInfo.id)
        .then((response) => {
          this.taskComments = response.data
        })
        .catch((error) => {
          console.log(error);
        });
  },

}
</script>

<style scoped lang="scss">

.details {
  text-align: center;

  &__task {
    margin-top: 20px;
    margin-bottom: 10px;

    &__title {
      padding-bottom: 15px;
      font-size: 30px;
      color: black;
    }

    &__value {
      font-size: 20px;
      margin-bottom: 50px;
    }
  }

  &__comments {

    &__title {
      color: black;
      margin-top: 40px;
      padding-bottom: 15px;
      font-size: 30px;
    }

    &__value {
      display: flex;
      text-align: left;
      font-size: 20px;


      &__delete {
       margin-top: 2px;
        margin-right: 10px;
        cursor: pointer;
      }

      &__data {
        font-size: 15px;
        white-space: nowrap;
      }

      &__user {
        font-size: 18px;
        color: black;
      }

      &__text {

      }
    }
  }


}
</style>